# Gradle
# ignoreList

.gradle
build/

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries
sandbox/.idea/libraries

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
sandbox/build.gradle
*.class
sandbox/.idea/workspace.xml
sandbox/.idea/misc.xml
*.log