# Gradle
# ignoreList

.gradle
build/

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
.idea/workspace.xml
*.log
/sandbox/.gradle/

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries